# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración del entorno
*.env
*.env.*

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de caché
*.cache